
.full-height {
  height: 100%;
}

.block {
  display: block;
}

.navbar {
  margin-bottom: 0;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.flex-item{
  background: lightgray;
  margin-right: 10px;
  padding: 10px;
}
.flex-parent{
  .flex-item:last-child{
    margin-right:0;
  }
}
.flex-item-sm {
  flex: 1 0 0;
}

.flex-item-lg {
  flex: 4 0 0;
}

.main {
  &.full-height {
    height: calc(100% - 62px);
  }
}

.flex-parent {
  &.gutter {
    margin: 10px;
    height: calc(100% - 10px);
  }
}
