<button class="btn btn-full-width relative text-left"
        ng-click="$ctrl.getChildren()">
    <span class="absolute left" ng-if="$ctrl.node.hasChildren" ng-switch="$ctrl.expanded">
        <span ng-switch-when="false">&plus;</span>
        <span ng-switch-when="true">&minus;</span>
    </span>
    <span ng-switch="$ctrl.isLoading">
        <span ng-switch-when="false" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> {{$ctrl.node.name}}
    </span>
</button>

<explorer aria-expanded="{{$ctrl.isExpanded}}"
          class="block explorer_tree"
          ng-if="$ctrl.isExpanded"
          nodes="$ctrl.node.children"></explorer>
